*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

html{
  scroll-behavior: smooth;
  text-decoration: none;

}
body{
  background-color: black;
  text-decoration: none;
  
}

.max-width{
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.navbar{
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 999;
  padding: 30px 0;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;
  background-color: black;
}



.navbar .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color:white;
  font-size: 180%;
  text-shadow: #00000f;
  text-decoration: none;
  padding: 100px;
  margin-right: 5px;
  max-width: 100%;
  margin-left: 10px;
  padding: 0;
  float:left;
}
.navbar .logo a img{
  border-radius: 50%;
  width: 7.5vh;
}
#name{
  margin-top: 8px;
}
.navbar .menu li{
  list-style: none;
  display: inline-block;
}
.navbar .logo a:hover{
  color:crimson;
}
.navbar .menu li a{
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease;
  margin-left: 15px;
}
.navbar .menu li a:hover{
  color: crimson;
}

.menu-btn{
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
/*About Content*/

.about{
  display: flex;
  background-color: #D9AFD9;
  background: url("assets/vibes.jpg");
  height: 100vh;
  color: #fff;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
}
.about .max-width{
  width: 100%;
  display: flex;
}
.about .max-width .row{
  margin-right: 0;
  margin-left: 5px;
}

#subs{
  color: crimson;
}

.about .abt-content .dig{
  position: absolute;
  color: white;
  bottom:50px;
  text-decoration: none;
  font-size: 3.5vh;
  font-weight: 600;
  text-align: center;
  margin-left: 25px;
  padding: 10px 30px;
  border-radius: 6px;
  background-color: blue;
  border: 2px solid blue;
  opacity:50%;
}
.about .abt-content .dig:hover{
  background-color: #0f0f0f;
  color: blue;
}


/*Recent Section */
.title{
  padding-top: 100px;
  margin-top: -50px;
  font-size: 35px;
  color:crimson;
  text-align: center;
}

.recent{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 3rem 1rem;
  padding: 3rem 0;
  margin: 0 1.5rem;
  border-top: 4px solid #CCC;
}

.video-cont {
  display: flex;
  flex-direction: column;
}

.thumb{
  width: 100%;
  height: 100%;
  min-width: 250px;
  min-height: 150px;
  background-color: #AAA;
}

.recent .video-cont .video-details{
  display: flex;
  width: 100%;
  flex-direction: column;
}
.recent .video-cont .video-details h3{
  color: white;
  font-size: 20px;
  margin-top: 1.2rem;
  margin-bottom: 10px;
  font-weight: 300;
  text-align: auto; 
}
.recent .video-cont .video-details p{
  color: white;
  font-size: 1.6rem;
  text-align:auto;
}


/*Conatct */
.flex-container{
  display: flex;
  justify-content: center;
  width: 60%;
  background: linear-gradient(to right, #616161, #9bc5c3);; 
  flex-wrap: wrap;
  margin:25px auto ;
  padding:40px 5px;
}
.flex-container > div {
  
  margin: 10px;
  padding: 10px;
  size: 2em;
  width: 180px;
}

.btn{
  height: 50px;
  width: 100%;
  padding: 10px 5px;
  font-size: 2vh;
  color: white;
  border-radius: 10px;
}
.btn .fab ,.btn .fas{
  color: currentColor;
}
.btn:hover{
  opacity: 0.7;
}

.btn-you{
  border: 1px solid red;
  color: red;
}
.btn-face{
  border: 1px solid #4267B2;
  color: #4267B2;
}
.btn-insta{
  border: 1px solid hotpink; 
  color: hotpink;
}
.btn-twi{
  border:1px solid #00acee;
  color: #00acee;
}

.btn-pin{
  border: 1px solid #e60023;
  color: #e60023
}
.btn-mail{
  border: 1px solid #1e90ff;
  color: #1e90ff;
}
.btn-you:hover{
  color: white;
  background-color: #ff0000;
  opacity: 0.7;
}
.btn-face:hover{
  color: white;
  background-color: #4267B2 ;
  opacity: 0.7;
}

.btn-insta:hover{
  color: white;
  background: rgb(249,237,50);
  background: linear-gradient(49deg, rgba(249,237,50,1) 0%, rgba(238,42,123,1) 50%, rgba(0,42,255,1) 100%);
  opacity: 0.7;
}

.btn-twi:hover{
  color:white;
  background-color: #00acee;
}
.btn-pin:hover{
  color: white;
  background-color: #e60023;
}
.btn-mail:hover{
  color: white;
  background-color:dodgerblue;
}



/*footer styling */

footer{
  margin-top: 85px;
  background: rgb(60,60,60);
  padding: 15px 23px;
  color: #fff;
  text-align: center;
}
footer span a{
  color: crimson;
  text-decoration: none;
}
footer span a:hover{
  text-decoration: underline;
}

.btn-5{
  position: absolute;
  font-size: 5vh;
  color: crimson;
  text-decoration: none;
  align-items: center;
  left: 450px;
  bottom: 150px;
  padding: 0 1.5rem;
  border: 3px solid black;
  border-radius: 10px;
}

.btn-5:visited,.btn-5:link,.btn-5:active{
  text-decoration: none;
  color: crimson;
}
.btn-5:hover{
  background-color: crimson;
  text-decoration: none;
  color: black;
}
.btn-5:hover::after{
  text-decoration: none;
}
/*Carosuel*/

.container{
  width: 60%;
  
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
  width: 100%;
  height: 600px;
}
.carousel-caption{
  right:-400px;
  left: 10px;
}

.sar > h3{
  color: crimson;
  font-size: 5vh;
}
.sar > p{
  color: white;
  font-size: 2.5vh;
}
.sar >a{
  color: red;
  font-weight: bolder;
}
.sar >a:hover{
  color: crimson;
  opacity: 0.7;
}

.pra >h3{
  color: crimson;
  font-size: 5vh;
}
.pra >p{
  color: white;
  font-size: 2.5vh;
}
.pra >a{
  color: red;
  font-weight: bolder;
}
.pra >a:hover{
  color: crimson;
  opacity: 0.7;
}
.siv{
  top:15px;
  left:0;
}
.siv > h3{
  color:crimson;
  font-size: 5vh;
}
.siv >p{
  color: white;
  font-size: 2.5vh;
}
.siv >a{
  color: red;
  font-weight: bolder;
}
.siv >a:hover{
  color: crimson;
  opacity: 0.7;
}

@media (max-width: 947px){
  .menu-btn{
    display: block;
    z-index: 999;
    }

    .menu-btn .fas{
      color: white;
    }
    .menu-btn i.active:before{
      content: "\f00d";
    }
    
    .navbar .menu{
      position: fixed;
      height: 100vh;
      width: 100%;
      left: -100%;
      top: 0;
      background: #111;
      text-align: center;
      padding-top: 80px;
      transition: all 0.3s ease;
  }
  .navbar .logo a{
    display: inline-block;
    position: relative;
  
  }
  .navbar .logo a img{
    float: left;
    width: 4vh;
  
  }

  .navbar .menu.active{
      left: 0;
  }
  .navbar .menu li{
      display: block;
  }
  .navbar .menu li a{
      display: inline-block;
      margin: 20px 0;
      font-size: 2.5rem
  }
  #name{
    font-size: 2vh;
    float:left;
  } 
  .menu-btn{
    font-size: 2vh;
    padding-top: 8px;
  }
}

.info img{
  height: max-content;
}
.container-5{
  padding-top: 80px;
}
/*
.container-2{
  position: relative;
  width: 1208px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container-2 .cards{
  position: relative;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  background: linear-gradient(#2196f3,#2196f3 30%,#1d3548 30%,#1d3548);
  margin: 10px;
  border-radius: 20px;
}

.wrapper-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-3 {
  overflow: hidden;
  box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
  background-color: white;
  text-align: center;
  border-radius: 1rem;
  position: relative;
  width: 280px;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.banner-img {
  position: absolute;
  background-image: url(https://images.unsplash.com/photo-1582727657635-c771002bdada?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
  height: 10rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-img {
  width: 15rem;
  clip-path: circle(60px at center);
  margin-top: 1.5rem;
  height: 15rem;
}

.name-3 {
  
  font-weight: bold;
  font-size: 2rem;
  color: crimson;
}

.description {
  margin: 1rem 2rem;
  font-size: 0.9rem;
}

.btn-3 {
  width: 100%;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 1rem;
  background-color:blue;
}
*/
